/* Barra superior */
.navbar {
    background-color: #f8f9fa !important;
  }
  
  .navbar .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar .btn {
    font-size: 1.2em;
  }
  
  .carousel-item img {
    max-height: 500px; /* Establece la altura máxima para las imágenes */
    width: 10px; /* Permite que el ancho se ajuste automáticamente según la altura máxima */
    padding: auto;
  }
  
  
  /* Menú desplegable de categorías */
  .dropdown {
    text-align: center;
  }
  
  .dropdown-toggle {
    width: 200px;
  }
  
  /* Lista de productos */
  .container {
    margin-top: 20px;
  }
  
  .card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 8px rgba(29, 1, 1, 0.1);
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    font-size: 1em;
    color: #666;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .btn-group .btn {
    margin-right: 5px;
  }
  
  .btn-outline-secondary {
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-secondary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Mostrar detalles del producto */
  .card-body p.mt-2 {
    margin-top: 10px;
    color: #555;
    font-size: 0.9em;
  }
  